# IDE files
*.iml
.idea

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Codebase
*.js
*.js.map
typings/*

# Dependency directory
node_modules

# Distribution
dist/*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
