.selected {
    background-color: #CFD8DC !important;
    color: #fff;
}
.feed-list {
    margin: 0 0 2em;
    list-style-type: none;
    padding: 0;
}
.feed-list li {
    background-color: #eee;
    margin: 0.5em;
    padding: 1rem;
    /*height: 1.6em;*/
    border-radius: 4px;
}

.feed-list figure {
    width: auto;
    cursor: pointer;
}

.feed-list li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.feed-list li:hover {
    color: #607D8B;
    background-color: #DDD;
    /*left: .1em;*/
}
.feed-list .text {
    position: relative;
    /*top: -3px;*/
}
