@import 'feed.vars';

.feed-list {
    margin: 0 0 2rem;
    padding: 0;
    list-style-type: none;

    p {
        margin-bottom: 0;
    }
}

.feed-list__item {
    margin-bottom: 0.5rem;
    padding: 1rem;
    background-color: $background-feed-item;

    .feed-item__fig {
        width: 30%;
        order: -1;
        cursor: pointer;

        img:hover {
            -webkit-filter: contrast(125%) blur(1px);
        }
    }

    .feed-item__copy {
        width: 69%;
        padding: 0 2rem;
    }

    .feed-item__meta-data {
        display: flex;
        flex-wrap: wrap;
    }

    .feed-item__title {
        overflow: hidden;
        order: -2;
        cursor: pointer;

        font-size: 2.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .feed-item__published {
        width: 100%;
        order: -1;
    }

    .feed-item__author {
        margin-right: 2rem;
    }

    @media only screen and (min-width: 800px) {
        .feed-item__published {
            width: auto;
            margin-right: 2rem;
            order: 0;
        }
    }
}
