<div *ngIf="feedItem">
    <h2 class="feed-detail__title" >{{feedItem.title}}</h2>
    <nav>
        <button (click)="goBack()">Back</button>
    </nav>

    <h3 class="feed-detail__author"><a href="https://www.flickr.com/people/{{feedItem.author_id}}">{{feedItem.author}}</a></h3>
    <p class="feed-detail__published">Published: {{feedItem.published | friendlyDate }} at {{feedItem.published | date:'H:mm'}}</p>
    <figure class="feed-detail__fig">
        <img src="{{feedItem.media.m}}" alt="{{feedItem.title}}"/>
    </figure>
    <div *ngIf="feedItem.description" [innerHTML]="feedItem.description" class="feed-detail__description"></div>
    <div *ngIf="feedItem.tags">
        <p>Tags:</p>
        <ul class="feed-tags">
            <li *ngFor="#tag of feedItem.tags">{{tag}}</li>
        </ul>
    </div>
</div>