@import 'feed.vars';

.feed-item {
    display: flex;
    flex-wrap: wrap;
}

.feed-item__fig {
    display: inline-block;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
    text-align: center;
    border-right: 1px solid rgba($color-grey, 0.25);

    img {
        max-width: 100%;
    }
}

.feed-item__copy {
    display: flex;
    flex-direction: column;

    padding: 0 1rem;
}

.feed-item__title {
    width: 100%;
    line-height: 1.5;
}