$color-black: #000;
$color-grey: #eee;
$color-grey-shade: #ddd;

$link-color: #1eaedb;

$background-feed-item: rgba($color-grey, 0.05);
$background-title-bar: $background-feed-item;
$background-meta-data-bar: rgba($color-grey, 0.075);
$background-feed-item-image: rgba($color-black, 0.5);

$border-radius: 0.4rem;