$color-grey: #eee;
$color-grey-shade: #ddd;

.feed-list {
    margin: 0 0 2rem;
    padding: 0;
    list-style-type: none;

    p {
        font-size: 1.6rem;
        margin-bottom: 0;
    }
}

.feed-list__item {
    border-bottom: 1px solid #c9c9c9;
    background-color: $color-grey;

    &:hover {
        color: #607d8b;
        background-color: $color-grey-shade;
    }

    .feed-item__fig {
        width: 30%;
        order: -1;
        background-color: $color-grey-shade;
        cursor: pointer;
    }

    .feed-item__copy {
        width: 70%;
    }

    .feed-item__title {
        overflow: hidden;
        order: -2;

        font-size: 2.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .feed-item__published {
        order: -1;
    }
}




