@import '../styles/mixins/flexbox-mixin';
@import 'feed.vars';

.feed-item {
    @include flexbox;
    @include flex-wrap(wrap);
}

.feed-item__fig {
    display: inline-block;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
    text-align: center;
    border-right: 1px solid rgba($color-grey, 0.25);

    img {
        max-width: 100%;
    }
}

.feed-item__copy {
    @include flexbox;
    @include flex-direction(column);

    padding: 0 1rem;
}

.feed-item__title {
    line-height: 1.5;
}