<ul class="feed-list">
    <li *ngFor="#feedItem of feedItems" class="feed-list__item feed-item">
        <figure class="feed-item__fig" (click)="gotoDetail(feedItem)">
            <img src="{{feedItem.media.m}}" alt="{{feedItem.title}}"/>
        </figure>
        <div class="feed-item__copy">
            <h2 class="feed-item__title" (click)="gotoDetail(feedItem)">{{feedItem.title}}</h2>
            <p class="feed-item__author"><a href="https://www.flickr.com/people/{{feedItem.author_id}}">{{feedItem.author}}</a></p>
            <p class="feed-item__published">Published: {{feedItem.published | friendlyDate }} at {{feedItem.published | date:'H:mm'}}</p>
            <p class="feed-item__view-original"><a href="{{feedItem.link}}">View on Flickr</a></p>
        </div>
    </li>
</ul>

<div *ngIf="errorMessage">
    <p>Sorry there was an error fetching this feed: {{errorMessage}}</p>
</div>
