@import '../styles/mixins/flexbox-mixin';
@import 'feed.vars';

.feed-detail__title-bar {
    @include flexbox;
    @include justify-content(space-between);
    width: 100%;
    padding: 1rem;

    background-color: $background-title-bar;

    .feed-item__title {
        font-size: 3rem;
        margin: 0;
    }

    button {
        @include align-self(center);
        margin: 0;
    }
}

.feed-detail__meta-data {
    @include flexbox;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;

    background-color: $background-meta-data-bar;

    .feed-item__author,
    .feed-item__published {
        margin-bottom: 0;
        font-size: 1.8rem
    }

    .feed-item__author {
        margin-right: 2rem;
        padding-right: 2rem;
        border-right: 1px solid #ccc;
    }
}

.feed-detail {
    .feed-item__fig {
        min-width: 20%;
        max-width: 40%;
    }

    .feed-item__copy {
        width: 60%;
        padding: 1rem 0 1rem 2rem;
        @include justify-content(flex-end);
    }

    .feed-item__description {
        margin-bottom: auto;
    }
}

.feed-tags {
    @include flexbox;
    margin-top: 2rem;

    .feed-tags__list__title {
        margin: 0.5rem 0 0 0;
    }
}

.feed-tags__list {
    width: 100%;
    margin-bottom: -0.5rem;
}

.feed-tag {
    @include inline-flex;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0.5rem;
    color: $color-black;
    background-color: $link-color;
    border-radius: $border-radius;
    word-break: break-all;
}